.box-planetas {
  display: flex;
  flex-direction: column;
  width: 12.5vw;
  height: 180px;
}

.box-planetas img {
  max-width: 80%;
  display: block;
  margin: auto;
}

.box-planetas p {
  align-self: center;
}