.box-mission {
  width: 40%;
  border-radius: 17px;
  border: 1px solid #FFF;
  background: rgba(24, 26, 37, 0.50);
  mix-blend-mode: hard-light;
  margin: 20px 0;
}

.box-mission h3 {
  font-size: 25px;
  margin: 30px 25px;
  font-weight: 300;
}

.line {
  height: 1px;
  background-color: white;
}

.box-info-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 30px;
}

.date-local-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin: 0 10px;
}

.box-info p {
  font-size: 15px;
}

.hidden-box {
  width: 20px;
  height: 100%;
}